<div data-controller="lecture" class="container mt-4">
  
  <h1 class="text-center">Palestras no dia da Conferência</h1>

  <div class="d-flex justify-content-between">
    <%= form_tag({ action: :import_csv }, multipart: true) do %>
      <div class="form-group">
        <%= file_field_tag :file, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Importar CSV', class: 'btn btn-success' %>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= link_to "Adicionar Palestras", new_lecture_path, class: "btn btn-success" %>
    </div>
  </div>  

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Horário</th>
        <th>Título</th>
        <th>Duração (minutos)</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @tracks.each do |track, items| %>
        <tr>
          <th class="bg-info" scope="row" colspan="3">Track <%= track %></th>
        </tr>
        <% items.each_with_index do |item, index| %>
          <tr class="<%= 'table-secondary' if index.even? %>">
            <td><%= item[:schedule] %></td>
            <td><%= item[:title] %></td>
            <% if item[:duration].present? %>
              <td><%= "#{item[:duration]} Min" %></td>
            <% end %>
            <% if item[:id].present? %>
              <td>
                <%= link_to "Show", lecture_path(id: item[:id]) %>
                <%= link_to "Edit", edit_lecture_path(id: item[:id]) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table> 
</div>