<div class="container mt-4">
  <h1 class="text-center">Lista de Palestras</h1>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Horário</th>
        <th>Título</th>
        <th>Duração (minutos)</th>
      </tr>
    </thead>
    <tbody>
      <% @tracks.each do |track, sessions| %>
        <tr>
          <th class="bg-info" scope="row" colspan="3">Track <%= track %></th>
        </tr>
        <% sessions.each_with_index do |session, index| %>
          <tr class="<%= 'table-secondary' if index.even? %>">
            <td><%= session[:schedule] %></td>
            <td><%= session[:title] %></td>
            <% if session[:duration].present? %>
              <td><%= "#{session[:duration]} Min" %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
